{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "env": { "value": "prod" },
    "location": { "value": "brazilsouth" },
    "storageAccountName": { "value": "stportalprod12345" },
    "cosmosAccountName": { "value": "cosmosportalprod12345" },
    "functionAppName": { "value": "func-portal-prod-12345" },
    "appInsightsName": { "value": "appi-portal-prod-12345" },
    "keyVaultName": { "value": "kv-portal-prod-12345" }
  }
}
